geoBoundariesCGAZ_ADM0.dbf
geoBoundariesCGAZ_ADM0.prj
geoBoundariesCGAZ_ADM0.shp
geoBoundariesCGAZ_ADM0.shx
.idea/dbnavigator.xml
.idea/GeoPython_Ukraine2024.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
